<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
    <form method="get" action="{% url 'index' %}">
        <input type="text" name="q" placeholder="Search by name, genre, or year">
        <button type="submit">Search</button>
    </form>
    
    <!-- Movie display form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <h1>Movie List</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></li>
            <br>
            <img src="{{ movie.image.url }}" alt="{{ movie.title }}" width="100">
        {% endfor %}
    </ul>
    
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'signup' %}">Sign up here</a>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
    
</body>
</html>
